.wrapper {
    font-family: var(--font-family);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.6rem;
    min-width: 100px;
    padding: 8px 16px;
    border-radius: 4px;
    margin: 0 12px;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: var(--white);

    + .wrapper {
        margin-left: 16px;
    }

    &.dissible {
        pointer-events: none;
        opacity: 0.6;
        user-select: none;
    }
}

.icon + .tittle,
.tittle + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 20px;
    text-align: center;
}

//Button types
.text {
    border-color: rgba(22, 24, 35, 0.12);
    font-weight: 500;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.rounded {
    color: rgba(22, 24, 35, 0.75);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-radius: 999px;
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    background-color: var(--primary);
    color: var(--white);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

//Button size
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 150px;
    padding: 14px 16px;
}
